[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = TizenFX API, which allows you to access platform-specific features not covered by the generic .NET and Xamarin.Forms features, such as system information and status, battery status, sensor date, and account and connectivity services.
[access "refs/*"]
	owner = group dalihub admins
	label-Code-Review = -2..+2 group dalihub reviewers
	label-Code-Review = -1..-1 group dalihub developers
	label-Verified = -1..+1 group dalihub developers
	submit = group dalihub reviewers
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Adeel Kazmi (adeelkazmi)
	label-Verified = -1..+1 group user/Adeel Kazmi (adeelkazmi)
	push = group user/Adeel Kazmi (adeelkazmi)
	read = group user/Adeel Kazmi (adeelkazmi)
	rebase = group user/Adeel Kazmi (adeelkazmi)
	removeReviewer = group user/Adeel Kazmi (adeelkazmi)
	submit = group user/Adeel Kazmi (adeelkazmi)
[access "refs/heads/*"]
	create = group user/Adeel Kazmi (adeelkazmi)
	push = +force group user/Adeel Kazmi (adeelkazmi)
	pushMerge = group user/Adeel Kazmi (adeelkazmi)
	read = group user/Adeel Kazmi (adeelkazmi)
[access "refs/tags/*"]
	push = group user/Adeel Kazmi (adeelkazmi)
	push = +force group user/Adeel Kazmi (adeelkazmi)
